
Flask
Flask-Cors

ipython

keras

numpy

pandas

pipreqs

pymongo

requests
requests-oauthlib

tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor

