absl-py
asgiref
asttokens
astunparse
async
backcall
blinker
cachetools
certifi
charset-normalizer
click
comm
debugpy.post
decorator
dnspython
docopt
executing
Flask
Flask-Cors
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
keras
libclang
Markdown
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pexpect
pickleshare
pipreqs
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
Pygments
pymongo
python-dateutil
pytz
pyzmq
requests
requests-oauthlib
rsa
simplejson
six
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
yarg
