@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 125, 125, 0.4);
  border-radius: 10px;
}

scrollbar-thumb {
  background-color: rgba(127, 125, 125, 0.4);
  border-radius: 10px;
}
